body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, serif;
}
header, footer {

	background: gray;
	padding: 50px 0;
}
h1 {
	text-align: center;
	color: white;
	font-size: 50px;
}
div {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
aside, main {
	width: 50%;
	float: left;
}
aside img {
	display: block;;
	width: 80%;
	margin: 0 auto;
}
footer p {
	color: white;
	text-align: center;
}